[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-grappelli = "*"
django = "==4.1.10"
django-widget-tweaks = "*"
markdown = "*"
django-gravatar2 = "*"
fontawesomefree = "*"
bleach = {extras = ["css"], version = "*"}
django-select2 = "*"
click = "==8.0.2"
python-dotenv = "*"

[dev-packages]
django-debug-toolbar = "*"
blue = "*"

[scripts]
server = "python manage.py runserver"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
test = "python manage.py test"
collectstatic =  "python manage.py collectstatic"
createsuperuser =  "python manage.py createsuperuser"
loaddata =  "python manage.py loaddata"
format = "yapf --recursive -i -p ."

[requires]
python_version = "3"
