{% load static %}
<!DOCTYPE html>
<html lang="en" x-data="{theme: localStorage.getItem('main_theme') == 'true' }" x-bind:data-theme="theme? 'light':'dark'" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    {% comment %} <link rel="stylesheet" href="{% static 'pico.css' %}"/> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"/>
    {% comment %} <script src="{% static 'marked.js' %}"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> {% endcomment %}
    <title>{{title|title}} {% block title %}{% endblock title %} </title>
    {% comment %} <script src="{% static 'alpine.js' %}" defer></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script> 
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.1/dist/cdn.min.js"></script>
    
    {% block jquery %}{% endblock jquery %}

    <link rel="stylesheet" href="{% static 'custom.css' %}"/>
    <link rel="stylesheet" href="{% static 'tag.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet"> 
</head>
<body>
    {% comment %} x-data="{theme: localStorage.getItem('theme') == 'true' }" x-bind:data-theme="theme? 'light':'dark'" {% endcomment %}
    {% include "nav.html" %}
    <div style="margin: 1rem;">
        {% include "components/flash_messages.html" %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <hr>
        <center>
            <div style="margin-top: 1.5rem;font-size: 15pt;">
                <p style="margin-bottom: 0rem;">Shiorium v0.1.5-beta</p>
                <p>Made with <span style="color:#e68e9e"><i data-feather="heart" ></i></span> using <a href="https://www.djangoproject.com/" target="_blank">Django framework</a></p>
            </d>
            <a href="{% url 'about' %}">About</a>
            |
            <a href="{% url 'privacypolicy' %}">Privacy policy</a>
            |
            <a href="{% url 'license' %}">License</a>
            |
            <a href="https://github.com/AlphaBeta1906/expert-umbrella">Source code</a>
            |
            <a href="https://github.com/AlphaBeta1906/expert-umbrella/issues">Issue report</a>
        </center>
    </footer>
    <script>
        feather.replace();

        function like_post(id,slug){
            fetch(`/post/like/${id}/${slug}`,
                    {
                        method: 'POST',
                        body: {} ,
                        credentials: 'same-origin',
                        headers: {
                            'X-CSRFToken': '{{csrf_token}}'
                        }
                    })
        }
        
        function follow_group(id){
            fetch(`/group/follow/${id}`,
            {
                method: 'POST',
                body: {} ,
                credentials: 'same-origin',
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                }
            })
        }
      </script>
</body>
</html>