{% load static %}

<article class="nav">
  <nav>
    <ul>
      <li>
        <h3>
          <a href="/" style="position: relative;top: 50%;bottom: 50%;">
            <img src="{% static 'favicon.png' %} " alt="" style="height: 52px;width: 52px;">
            Shiorium    
          </a>
        </h3>
      </li>
    </ul>
    <ul>
        {% if user.is_authenticated  %}
          <li>{% include "components/profile.html" %}</li>
          <li></li>
        {% else %}
          <li>
            <a role="button" class="contrast" x-on:click="theme = !theme;localStorage.setItem('main_theme', theme)">
              <i x-show="theme" data-feather="moon"></i>
              <i x-show="!theme" data-feather="sun"></i>
              {% comment %} <i x-bind:class="theme?'fa-solid fa-moon':'fa-solid fa-sun'"></i> {% endcomment %}
            </a>
          </li>
          <li><a role="button" href="{% url 'user:signup' %}" class="secondary">Signup</a></li>
          <li><a role="button" href="{% url 'user:login' %}" class="primary">Login</a></li>
        {% endif %}
    </ul>
</nav>
</article>