<div role="group" style="margin-bottom: 0rem;">
    <button class="toolbar" data-tooltip="Header" type="button" x-on:click="content +=  '#' " >H</button>
    <button class="toolbar" data-tooltip="Italic" type="button" x-on:click="content +=  ' *Text* ' " ><i>I</i></button>
    <button class="toolbar" data-tooltip="Bold" type="button" x-on:click="content +=  ' **Text** ' " ><b>B</b></button>
    <button class="toolbar" data-tooltip="Striketrough" type="button" x-on:click="content +=  ' ~~Text~~ ' " ><strike>S</strike></button>
    <button class="toolbar" data-tooltip="Add link" type="button" x-on:click="content +=  ' [text](link) ' " ><i class="fa-solid fa-link"></i></button>
    <button class="toolbar" data-tooltip="Insert image url" type="button" x-on:click="content +=  ' ![alt text](image link) ' " ><i class="fa-solid fa-image"></i></button>
</div>
